.modal-background {
  background-color: #EFF6FF;
  height: 100vh;
  width: -webkit-fill-available;
  position: absolute;
  top: 0;
  left: 0;
  padding: 75px 20px 20px;
  display: flex;
  z-index: 100;

  .top-nav__block {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    z-index: 3;
    background-color: #fff;
    padding: 20px;
    height: 58px;

    .close-button {
      display: flex;
      justify-content: center;
    }

    h3 {
      width: 100%;
      text-align: center;
      font-weight: 400;
      margin: 0;
      font-size: 17px;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__block {
      width: 100%;

      .top-titles__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;

        .price-title {
          h1 {
            color: #030712;
            font-size: 26px;
            font-weight: 700;
            margin: 0;
            line-height: 1;
          }

          span {
            color: #666F8D;
            font-size: 16px;
          }
        }

        .direction-title {
          h4 {
            font-size: 22px;
          }

          span {
            color: #666F8D;
            font-size: 16px;
          }
        }
      }

      .ticket-from__block {
        margin: 20px 0;
        border-radius: 12px;
        background-color: #fff;
        padding: 15px 26px;
        gap: 10px;
        display: flex;
        flex-direction: column;

        &-titles {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .right-block {
            color: #666F8D;
            font-size: 12px;
            line-height: 1;
          }
        }

        &-center {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          padding: 8px 16px 21px 16px;

          .time-departure__block,
          .time-arrival__block,
          .place-departure__block,
          .place-arrival__block {
            display: flex;
            flex-direction: column;
            gap: 5px;

            span {
              font-size: 16px;
              color: #030712;
            }

            small {
              font-size: 12px;
              color: #666F8D;
            }
          }

          .vertical-block {
            width: 2px;
            background-color: #CBD5E1;
            position: relative;
            top: 0;
            margin: 3px 0;


            &::before,
            &::after {
              content: '';
              position: absolute;
              width: 8px;
              height: 8px;
              background-color: #CBD5E1;
              border-radius: 50%;
            }

            &::before {
              top: 0;
              left: -3.5px;
            }

            &::after {
              bottom: 0;
              left: -3.5px;
            }
          }
        }
      }

      .ticket-actions__block {
        display: flex;
        justify-content: space-between;

        span {
          gap: 5px;
          display: flex;
          align-items: center;
          color: #999999;
          cursor: pointer;
          font-size: 14px;
        }
      }
    }
  }
}

.time-warning__title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #999999;
}

.divider {
  height: 2px;
  background: linear-gradient(to right, #CBD5E1 20%, transparent 20%, transparent 40%, #CBD5E1 40%, #CBD5E1 40%, transparent 40%, transparent 60%, #CBD5E1 60%);
  background-size: 25px 1px;
  position: relative;
  margin: 10px 0;
}

.preorder-main__block {
  overflow: scroll;
  height: calc(100vh - 290px);

  .direction-return__title {
    h4 {
      font-size: 22px;
    }

    span {
      color: #666F8D;
      font-size: 16px;
    }
  }

  .transfer-time__block {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #fff;
    padding: 16px 14px;
    border-radius: 12px;
  }
}

.buy-ticket__block {
  display: flex;
  justify-content: center;
  width: 90%;
  position: fixed;
  bottom: 40px;
}

