.modal-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: rgba(29, 41, 53, 0.1882352941);
  display: flex;
  align-items: end;
  z-index: 10;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 28px 28px;
  margin-top: 100px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;

  .passenger-content__block {
    overflow-y: auto;
    padding-right: 10px;

    h2 {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 700;
      color: var(--seconday-text-color);
    }

    h4 {
      font-size: 18px;
      font-weight: 400;
    }

    .flight-class_title {
      font-weight: 700;
      margin: 0 0 30px;
    }
  }
}

.holder-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  user-select: none;
}

.passengers-list__item {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 30px;

  &-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-block {
      display: flex;
      flex-direction: column;
      gap: 4px;

      h4 {
        margin: 0;
      }

      small {
        font-size: 12px;
        color: #95A5A6;
      }
    }

    .right-block {
      display: flex;
      align-items: center;
      gap: 18px;

      span {
        font-size: 18px;
        font-weight: 700;
      }

      button {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
}

.passengers-class__list {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 6px;
  margin: 0 0 40px;
  width: 100%;
  background-color: #e9eef3;
  border-radius: 7px;
}

.toggle-indicator {
  position: absolute;
  top: 3px;
  left: 3px;
  width: calc(50% - 6px);
  height: calc(100% - 6px);
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 4px 13px 0 #2b454e1a;
  transition: transform 0.3s ease;
  z-index: 0;
}

.toggle-indicator.economy {
  transform: translateX(0);
}

.toggle-indicator.business {
  transform: translateX(100%);
}

.passengers-class__list-item {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3px;
}

.passengers-class__button {
  position: relative;
  background-color: transparent;
  border-radius: 7px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
  width: 100%;
  padding: 8px;
  color: #030712;
  font-weight: normal;
  transition: color 0.2s ease, font-weight 0.2s ease;
  -webkit-tap-highlight-color: transparent;
}

.passengers-class__button.active {
  color: #030712;
  font-weight: 700;
}

.choose-class__block {
  display: flex;
  justify-content: center;
  width: 100%;
}
