.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: rgba(29, 41, 53, 0.1882352941);
  display: flex;
  align-items: end;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 20px 28px;
  margin-top: 100px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: -webkit-fill-available;

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    color: var(--seconday-text-color);
  }

  .holder-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .filter-block {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;
    padding: 0;
    list-style: none;

    .divider {
      height: 1px;
      background: linear-gradient(to right, #CBD5E1 20%, transparent 20%, transparent 40%, #CBD5E1 40%, #CBD5E1 40%, transparent 40%, transparent 60%, #CBD5E1 60%);
      background-size: 25px 1px;
      margin: 17px 0 12px;
    }

    .filter-details__block {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .filter-block__inputs {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        width: 100%;

        input {
          padding: 12px;
          border-radius: 12px;
          border: 1px solid #CBD5E1;
          outline: none;
          width: 100%;
        }
      }

      .baggage-list,
      .refund-list,
      .transfer-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 12px;
        overflow-x: auto;
      }

      .baggage-list__item,
      .refund-list__item,
      .transfer-list__item {
        padding: 8px 25px;
        color: #030712;
        border-radius: 36px;
        border: 1px solid #CBD5E1;
        white-space: nowrap;
      }

      .active {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
  }
}
