mat-calendar .mat-calendar-header {
  display: none;
}

mat-calendar .mat-calendar-table-header {
  display: none;
}

mat-calendar .mat-calendar-body-label {
  display: none;
}

.mat-calendar-header button {
  display: none;
}
